@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f1d8c9, #F2C3A7); /*criar um degrade*/
}

main {
    background-color: white;
    border-radius: 10px; /*criar um borda*/
    box-shadow: 5px 5px 15px rgba(136, 93, 0.616); /*criar sobreado */
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(129, 77, 5, 0.726); /*criar sombra em volta do texto*/
}

p {
    text-align: justify;
}